header, main, footer{
    font-family: Helvetica;
}
header, footer, .education{
    padding: 30px;
}
h1 {
    font-size: 80px;
}
h2{
    font-size: 40px;
}
header >  h2 , header > h1{
    color:#EDF2F4;
}
a:link{
    color:#EF233C;
}
header, footer{
    color: #8D99AE;
    background-color: #2B2D42;
}
.education{
    background-color: #8D99AE;
}
header{
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}