section div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;

}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item-1 {
    background: #b03532;
    display: none;

}

.item-2 {
    background: #33a8a5;
    grid-column: 2/3;
    grid-row: 1/2;
}

.item-3 {
    background: #30997a;
    grid-column: 1/3;
    grid-row: 4/5;
}

.item-4 {
    background: #6a478f;
    grid-column: 1/2;
    grid-row: 2/3;
}

.item-5 {
    background: #da6f2b;
    grid-column: 2/3;
    grid-row: 2/3;
}

.item-6 {
    background: #3d8bb1;
    display: none;
}

.item-7 {
    background: #e03f3f;
    grid-column: 1/2;
    grid-row: 3/4;
}

.item-8 {
    background: #59a627;
    grid-column: 2/3;
    grid-row: 3/4;
}

.item-9 {
    background: #4464a1;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (min-width: 760px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }

    .item-1 {
        grid-area: 1/1/2/2;
        display: block;
    }

    .item-2 {
        grid-area: 1/2/2/4;
    }

    .item-3 {
        grid-area: 1/4/2/5;
    }

    .item-4 {;
        grid-area: 2/1/3/2;
    }

    .item-5 {
        grid-area: 2/2/3/4;
    }

    .item-6 {
        grid-area: 2/4/3/5;
        display: block;
    }

    .item-7 {
        grid-area: 3/1/4/2;
    }

    .item-8 {
        grid-area: 3/2/4/4;
    }

    .item-9 {
        grid-area: 3/4/4/5;
    }
}