body {
    margin: 0;
    padding: 0;
    background-color: silver;
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 0 auto;
    width: 100%;
}

img {
    display: block; /*image is een inline element, je moet er een block element van maken*/
    margin: 0 auto;
}

nav {
    width: 20%;
    height: 200px;
    background-color: white;
    float: left;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style: none;
}

section#midden {
    width: 80%;
    height: 200px;
    background-color: #EF233C;
    float: left;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

footer {
    clear: both;
    background-color: green;
    height: 100px;
    text-align: center;
}
footer p{
    line-height: 100px;
}


.breedte {
    width: 400px; /*binnen een inline element heeft de width geen betekenis*/
    background-color: green;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}