


body {
	font: 1.2em/1.2 Helvetica, aria, sans-serif;
	margin: 0 3%;
}

h1 {
	font-size: 1.8em;
	margin: .9em 0 0 0;
}
h2 {
	font-size: 1.5em;
	margin: 1.5em 0 0 0;
}

img {
	max-width: 100%;
}

figure {
	background: black;
	border-radius: 5px;
	color: red;
	margin: 0 0 25px 0;
	padding: 10px;
	text-align: center;
	
}

figcaption {
	font-size: .8em;
}

@media  screen and (min-width: 992px){
	body {
		background-color: lightgreen; /* Verander de achtergrondkleur van body naar lichtgroen */
	}
	figure {
		width: 25%; /* Zet de breedte van elke figure op 30% */
		margin: 0 1% 25px 1%; /* Voeg wat marge toe tussen de figuren */
		float: left; /* Zorg ervoor dat de figuren naast elkaar worden geplaatst */
	}
}
@media  screen and (min-width: 768px)and (max-width: 991px) {
	body {
		background-color: darkblue;
	}
	figure {
		width: 30%; /* Zet de breedte van elke figure op 30% */
		margin: 0 1% 25px 1%; /* Voeg wat marge toe tussen de figuren */
		float: left; /* Zorg ervoor dat de figuren naast elkaar worden geplaatst */
	}

	}

}